<!-- <div class="page-heading">
    <h1 class="page-title">Home</h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">
                <i class="la la-home font-20"></i>
            </a>
        </li>
    </ol>
</div> -->
<div class="page-content fade-in-up">
    <div class="ibox">
        <div class="ibox-head">
            <div class="ibox-title">Home</div>
        </div>
        <div class="ibox-body">
            <div class="row">
                <div class="col-md-12">
                    <span>
                        <b>De-Anonymization</b>
                    </span>
                </div>
                <div class="col-md-12">
                    <p>De-anonymization is a data mining strategy in which anonymous data is cross-referenced with other data
                        sources to re-identify the anonymous data source.</p>
                    <p>Any information that distinguishes one data source from another can be used for de-anonymization. Although
                        the concept of de-anonymization goes back several decades, the term made headlines in 2006 when Arvind
                        Narayanan and Vitaly Shmatikov entered a contest hosted by Netflix, a popular movie-rental service.
                        Narayanan and Shmatikov applied their de-anonymization methodology to a data set that contained the
                        anonymous movie ratings of 500,000 members and were able to successfully identify Netflix data for
                        a number of specific members. According to Narayanan and Shmatik, de-anonymization requires data
                        that is abundant, granular and fairly stable across time and context.</p>
                </div>
                <div class="col-md-12">
                    <span>
                        <b>Lab Exploration</b>
                    </span>
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>
                            <a routerLink="/dataprocess" routerLinkActive="active">Data Processing</a>
                        </li>
                        <li class="dropdown">
                            <a routerLink="/deanonymization" routerLinkActive="active">De-Anonymization</a>
                        </li>
                        <li class="dropdown">
                            <a routerLink="/analysis" routerLinkActive="active">Analysis</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>